@font-face {
  font-family: 'PT Sans';
  src: url('PT_Sans-Web-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  /*font-feature-settings: "lnum" 1, "tnum" 1;*/
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: url('WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-feature-settings: 'lnum' 1, 'tnum' 1;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  color: black;
  font-family: 'PT Sans';
  box-sizing: border-box;
}
table, th,tr,td {
  padding: 15px 20px;
  text-align: center;
  border-collapse: collapse;
  margin: 30px auto;

}
caption {
  font-size: 1.8em;
  font-weight: bold;
}
tr {
  transition: .2s ease-out;
}
.green td:first-child:before {
    width: 5px;
    height: 48px;
    position: absolute;
    left: 1.3%;
    top: 34px;
    display: inline-block;
    content: "";
    margin-top: -33px;
    background: #00e676;
}
.red td:first-child:before {
  width: 5px;
  height: 48px;
  position: absolute;
  left: 1.3%;
  top: 34px;
  display: inline-block;
  content: "";
  margin-top: -33px;
  background: #d50000;
}

.holiday {
  background: #f8adce;
}
thead, tfoot {
  background-color: #eee;
}
tbody>tr:hover {
  /*color: #ab47bc;*/
  background: #ab47bc;
}
td:not(:first-child), th:not(:first-child) {
  text-align: right;
}
td:first-child, th:first-child {
  text-align: left;
  position: relative;
}
tbody td:not(:first-child), tfoot td:not(:first-child) {
  font-family: 'WorkSans-Regular';
}
td, th {
  border-left: 1px solid black;
}

th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
td:last-child, th:last-child {
   border-right: 1px solid black;
}

tfoot, tr:last-child {
  border-bottom: 1px solid black;
}
tfoot {
  font-weight: bold;
}
